<div id="map" style="height: 500px; width: 100%;"></div>

<script src="https://maps.googleapis.com/maps/api/js"></script> 
<script>
    function initMap() {
        const locations = <%- JSON.stringify(locations) %>;
        const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: { lat: 0.5157, lng: 35.2698 } 
        });

        locations.forEach(location => {
            new google.maps.Marker({
                position: { lat: location.lat, lng: location.lng },
                map: map,
                title: location.name
            });
        });
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        initMap();
    });
</script>
